@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(4);
  }

  100% {
    transform: scale(8);
  }
}

.zoom {
  height: 100px;
  width: 100px;
  color: red;
  font-size: 4rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: zoom 3s ease-in-out forwards;
}

.screen {
  min-height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
